<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518554056290-7p3l1gk593ri9ocf3i2iujf3np873mnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518554056290-7p3l1gk593ri9ocf3i2iujf3np873mnu</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ301wYN_cl7baRgtMMU-UVi_96gMlwTY</string>
	<key>GCM_SENDER_ID</key>
	<string>518554056290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kazim.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fb9b7</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fb9b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518554056290:ios:7f25fa20e585f975cd433b</string>
</dict>
</plist>